body, html {
	margin-top: 1em;
	margin-left: 1em;
	font-family: "roboto", sans-serif;
	font-size: auto;
}

html {
background: #FFFFE0 no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.container {
	display: grid;
}

.wrapper, .div-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.wrapper {
	gap: 10px;
}


.done {
	text-decoration: line-through;
}